header {
    padding: 2em;
    background-color: skyblue; margin-top: 2em;
    text-align: center;
    color: rgb(0, 56, 139);

}
.quote {
    font-size: 2em;
}

.btn-large {
    margin: 0.5em;
}
.card {
    text-align: center;
    width: 45em;
}
.new-quote-button {
    background-color: dark blue);
    border-color: rgb(0, 123, 255);
}
#button:hover {
    background-color: rgb(0, 83, 128);
}

