header {
    padding: 2em;
    background-color: skyblue; margin-top: 2em;
    text-align: center;
    color: darkblue;

}
.quote {
    font-size: 2em;
}

.btn-large {
    margin: 0.5em;
}
.card {
    text-align: center;
    width: 45em;
}
.new-quote-button {
    background-color: lightseagreen;
    border-color: lightslategray;
}
#button:hover {
    background-color: rgb(119, 153, 145);
}

